.navbar {
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.navbar a {
    color: #ffffff;

    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

.dropdown-item {
    color: black;
}

.nav-link {
   
    font-size: 1.5rem;
}

.btn-nav {
    background-color: #060b26;
    display: flex;
    justify-content: start;
    align-items: center;
    
}




.menu-bars {
    margin-left: 0.5    rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #060b26;
    width: 20rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all;
    transition-duration: 1.5s;
}

.nav-menu.active {
    left: 0;
    transition: all;
    transition-duration: .5s;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-menu-items h3{
    color: #ffffff;
    font-size: 1.5rem;
}
.nav-menu-items a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;


}

.sidebar-close-button{
    border-radius: 50%;
    border: .1rem #fff solid;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 1.5rem
  }

.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}